
body {
    background-image: url(/tugas1/img/background.png);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
img{
    height: 60px;
    width: 90px;
}
/* NAVBAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 23px 20px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4c93af;
/*TITLE*/
  }
  .title {
    text-align: center;
  }
  .text1 {
    font-style: italic;
  }
  .text2 {
    font-size: large;
  }
/*GALLERY*/
.preview{
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
div.gallery {
  margin: 5px;
  border: 1px solid #000000;
  float: left;
  width: 180px;
  transition: 0.3s;
}

div.gallery:hover {
  border: 1px solid #ffffff;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
/* GALLERY IMAGES */
div.homeimage{
  width: 600px;
  height: 400px;
}
/* FOOTER */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(34, 33, 33); 
  opacity: 0.8  ; 
  color: white;
  text-align: left;
  position: -webkit-sticky; /* Safari */
    position: sticky;
}
.description-container {
  background: azure;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Nunito, sans-serif;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}


textarea:focus {
  border-color: #00aaff;
  outline: none;
}
.button-container {
  text-align: center;
}

.green-button {
  background-color: #28a745; /* Green background */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s;
}

.green-button:hover {
  background-color: #218838; /* Darker green on hover */
}

.arrow {
  margin-left: 10px; /* Space between text and arrow */
  font-size: 20px; /* Size of the arrow */
}
/* testimonial */
.responsive-cell-block {
  min-height: 75px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  line-height: 25px;
  height: 50%;
  width: 100%;
}

img {
  object-fit: cover;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.responsive-container-block.bg {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1320px;
  margin: 50px 0 50px 0;
}

.text-blk.title {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 36px;
  line-height: 45px;
  font-weight: 900;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin: 0 0 15px 0;
}

* {
  font-family: Nunito, sans-serif;
}

.text-blk.desc {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  height: auto;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  max-width: 750px;
  color: aliceblue;
}

.responsive-container-block.blocks {
  width: 100%;
  min-height: 0px;
  justify-content: space-between;
  max-width: 1320px;
}

.responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
  width: 30%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-blk.info-block {
  width: 85%;
  height: auto;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  margin: 30px 0 30px 0;
}

.responsive-container-block.person {
  width: 90%;
  min-height: 0px;
  height: auto;
  margin-top: 0px;
  margin-right: 31.25px;
  margin-bottom: 20px;
  margin-left: 31.25px;
}

.responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.icon-block {
  width: 22%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.text-block {
  width: 78%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text-blk.name {
  font-size: 18px;
  line-height: 20px;
  font-weight: 900;
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.text-blk.desig {
  line-height: 16px;
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.responsive-container-block.big-container {
  justify-content: center;
  padding: 0 50px 0 50px;
}

@media (max-width: 1024px) {
  .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
    width: 47%;
  }

  .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content.bottom {
    margin-top: 5%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 25%;
  }

  .text-blk.desc {
    width: 70%;
  }

  .responsive-container-block.person {
    margin-top: 5%;
    margin-right: 31.25px;
    margin-bottom: 0px;
    margin-left: 31.25px;
  }

  .text-blk.title {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.person {
    margin-top: 21.9375px;
    margin-right: 31.25px;
    margin-bottom: 20px;
    margin-left: 31.25px;
  }

  .text-blk.info-block {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .responsive-container-block.person {
    margin-top: 0px;
    margin-right: 31.25px;
    margin-bottom: 0px;
    margin-left: 31.25px;
  }

  .text-blk.info-block {
    height: 50%;
    font-size: 17px;
  }

  .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5%;
    margin-left: 0px;
  }

  .text-blk.desc {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
    width: 85%;
    font-size: 17px;
  }

  .text-blk.title {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 30px;
  }

  .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content.bottom {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.blocks {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.bg {
    flex-wrap: nowrap;
  }

  .responsive-container-block.person {
    margin-top: 0px;
    margin-right: 31.25px;
    margin-bottom: 20px;
    margin-left: 31.25px;
  }

  .text-blk.info-block {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .text-blk.desc {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .text-blk.desig {
    font-size: 15px;
  }

  .text-blk.name {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 8%;
    margin-left: 0px;
  }

  .text-blk.desc {
    width: 90%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 16px;
    line-height: 24px;
  }

  .text-blk.title {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 26px;
  }

  .text-blk.info-block {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    font-size: 16px;
    line-height: 26px;
    margin: 30px 0 20px 0;
  }

  .text-blk.desc {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .responsive-container-block.big-container {
    padding: 0 30px 0 30px;
  }

  .text-blk.name {
    font-size: 17px;
  }

  .text-blk.desig {
    font-size: 15px;
  }
}